@model IEnumerable<MyCv.Models.Education>

@{
    ViewData["Title"] = "Index";
}

<h1>Cv</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EducationDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EducationDescription)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.EducationId">Edit</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.EducationId">Details</a> |
                <a class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.EducationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
